.note {
    padding: 10px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.06);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.note:hover {
    background-color: rgba(0, 0, 0, 0.06);
}

.active {
    color: #1677ff;
    background-color: #e6f4ff;
}